@model ShuffleAway_.Models.MvcModel

@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_LayoutPlataforma.cshtml";
}

<div class="row">
	<div class="col-md-12 text-lg-left">
		<h1>Preparando tu sorteo...</h1>
	</div>
</div>

<section>
	<ul class="nav nav-tabs" id="myTab" role="tablist">
		<li class="nav-item">
			<a class="nav-link active" id="preparacion-tab" data-toggle="tab" href="#preparacion" role="tab" aria-controls="preparacion"
			   aria-selected="true">1. Preparación</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="restricciones-tab" data-toggle="tab" href="#restricciones" role="tab" aria-controls="restricciones"
			   aria-selected="false">2. Restricción</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="entradas-tab" data-toggle="tab" href="#entradas" role="tab" aria-controls="entradas"
			   aria-selected="false">3. Entradas</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="premio-tab" data-toggle="tab" href="#premio" role="tab" aria-controls="premio"
			   aria-selected="false">4. Premio</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="confirmacion-tab" data-toggle="tab" href="#confirmacion" role="tab" aria-controls="confirmacion"
			   aria-selected="false">5. Confirmación</a>
		</li>
	</ul>
	@using (Html.BeginForm("CrearSorteo", "Plataforma", FormMethod.Post, new { @id = "form-sorteo" }))
	{
		<div class="tab-content tab-pasos mt-4" id="myTabContent">
			@* Empieza tab - Preparacion *@
			<div class="tab-pane fade show active" id="preparacion" role="tabpanel" aria-labelledby="preparacion-tab">
				<div>
					<label>Nombre del sorteo</label>
					@*<input class="form-control" />*@
					@Html.TextBoxFor(s => s.sorteo.nombreSorteo, new { @class = "form-control" })
					<small class="form-text text-muted">
						Ejemplo: "MiEmpresa: Sorteo notebook Intel"
					</small>
				</div>
				<div class="md-form md-outline">
					@*<textarea id="form75" class="md-textarea form-control" rows="3"></textarea>*@
					@Html.TextAreaFor(s => s.sorteo.terminosCondiciones, new { @class = "md-textarea form-control", @rows = "3" })
					<label for="form75">Términos y condiciones</label>
				</div>
				<div class="container ml-0">
					<label>Fecha inicio:</label>
					<div class="col-md-5">
						<div class="form-group">
							<div class="input-append date form_datetime">
								@*<input size="26" type="text" value="" readonly />*@
								@Html.TextBoxFor(s => s.sorteo.fechaInicio, new { @readonly = true, @size = 26 })
								<span class="add-on"><i class="far fa-calendar-alt"></i></span>
							</div>
						</div>
					</div>
				</div>
				<div class="container ml-0">
					<label>Fecha fin:</label>
					<div class="col-md-5">
						<div class="form-group">
							<div class="input-append date form_datetime">
								@*<input size="26" type="text" value="" readonly />*@
								@Html.TextBoxFor(s => s.sorteo.fechaFin, new { @readonly = true, @size = 26 })
								<span class="add-on"><i class="far fa-calendar-alt"></i></span>
							</div>
						</div>
					</div>
				</div>
			</div>
			@* Termina tab - Preparacion *@

			@* Empieza tab - Restricciones *@
			<div class="tab-pane fade" id="restricciones" role="tabpanel" aria-labelledby="restricciones-tab">
				<div>
					<label>Plataforma a utilizar:</label>
					@Html.DropDownListFor(s => s.sorteo.idPlataforma, new SelectList(Model.lstPlataformas, "idPlataforma", "nombrePlataforma"), new { @class = "browser-default custom-select" })
				</div>
				<div class="mt-4">
					<label>Provincias autorizadas:</label>
					<small class="form-text text-muted">
						Presione Ctrl + click para seleccion múltiple
					</small>
					@Html.ListBoxFor(s => s.sorteo.lstIdProvincias, new SelectList(Model.lstProvincias, "idProvincia", "nombreProvincia"), new { @class = "custom-select", @multiple = true, @size = "5" })
				</div>
				<label class="mt-4">Edad mínima:</label>
				<div class="def-number-input number-input safari_only">
					<button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="minus"></button>
					@*<input class="quantity" min="0" name="quantity" value="1" type="number" />*@
					@Html.TextBoxFor(s => s.sorteo.edadMinima, new { @class = "quantity", Value = 1, @type = "number", @min = 0 })
					<button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
				</div>
			</div>
			@* Termina tab - Restricciones *@

			@* Empieza tab - Entradas *@
			<div class="tab-pane fade" id="entradas" role="tabpanel" aria-labelledby="entradas-tab">
				<div>
					<label>Paso 1:</label>
					@Html.DropDownListFor(s => s.sorteo.lstIdEntradas, new SelectList(Model.lstEntradas, "idEntrada", "tipoEntrada"), "Seleccione Entrada", new { @class = "browser-default custom-select" })
				</div>
				<div class="mt-4">
					<label>Paso 2:</label>
					@Html.DropDownListFor(s => s.sorteo.lstIdEntradas, new SelectList(Model.lstEntradas, "idEntrada", "tipoEntrada"), "Seleccione Entrada", new { @class = "browser-default custom-select" })
				</div>
				<div class="mt-4">
					<label>Paso 3:</label>
					@Html.DropDownListFor(s => s.sorteo.lstIdEntradas, new SelectList(Model.lstEntradas, "idEntrada", "tipoEntrada"), "Seleccione Entrada", new { @class = "browser-default custom-select" })

				</div>
				<div class="mt-4">
					<label>Paso 4:</label>
					@Html.DropDownListFor(s => s.sorteo.lstIdEntradas, new SelectList(Model.lstEntradas, "idEntrada", "tipoEntrada"), "Seleccione Entrada", new { @class = "browser-default custom-select" })

				</div>
				<div class="mt-4">
					<label>Paso 5:</label>
					@Html.DropDownListFor(s => s.sorteo.lstIdEntradas, new SelectList(Model.lstEntradas, "idEntrada", "tipoEntrada"), "Seleccione Entrada", new { @class = "browser-default custom-select" })

				</div>
			</div>
			@* Termina tab - Entradas *@

			@* Empieza tab Premio *@
			<div class="tab-pane fade" id="premio" role="tabpanel" aria-labelledby="premio-tab">
				<div>
					<label>Premio:</label>
					@*<input class="form-control" />*@
					@Html.TextBoxFor(s => s.sorteo.premio, new { @class = "form-control" })
					<small class="form-text text-muted">
						Ejemplo: "Notebook Intel modelo 0001"
					</small>
				</div>
				<div class="md-form md-outline">
					@*<textarea id="form75" class="md-textarea form-control" rows="3"></textarea>*@
					@Html.TextAreaFor(s => s.sorteo.descripcionPremio, new { @class = "md-textarea form-control", @rows = "3" })
					<label for="form75">Descripción del premio...</label>
				</div>
				<div>
					<label>Cantidad de ganadores:</label>
					<div class="def-number-input number-input safari_only">
						<button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="minus"></button>
						@*<input class="quantity" min="0" name="quantity" value="1" type="number" />*@
						@Html.TextBoxFor(s => s.sorteo.numeroGanadores, new { @class = "quantity", @min = "0", Value = 0, @type = "number" })
						<button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
					</div>
				</div>
			</div>
			@* Termina tab Premio *@

			@* Empieza tab Confirmacion *@
			<div class="tab-pane fade" id="confirmacion" role="tabpanel" aria-labelledby="confirmacion-tab">
				panel CONFIRMACION
			</div>
			@* Termina tab Confirmacion *@


		</div>

		<div class="container container-buttons">
			<div class="row">
				<div class="col-6">
					<button type="button" class="btn rounded blue-gradient mt-1 btn-md" id="btnSiguienteTab">Siguiente</button>
					<button type="button" class="btn rounded purple-gradient mt-1 btn-md">Limpiar</button>
				</div>
			</div>
		</div>
	}
</section>

@section scriptIndex{
	<script type="text/javascript">

		$('#btnSiguienteTab').click(function (e) {
			if ($(this).attr('id') === 'btnSiguienteTab') {
				e.preventDefault();
				var tab = $('.nav-tabs .active').parent().next('li').find('a');
				tab.trigger('click');
				if (tab[0].id === 'confirmacion-tab') {
					$(this).text('Confirmar');
					$(this).prop("type", "submit");
					$(this).prop('id', 'btn-submit');
				}
			}

			//if ($(this).text() === 'Confirmar') {
			//	$('#form-sorteo').submit();
			//}
		});

		$('a.nav-link').click(function () {
			var tb = $('.nav-link').attr('id');
			if (tb !== 'confirmacion-tab') {
				$('#btnSiguienteTab').text('Siguiente');
				$('#btn-submit').prop('id', 'btnSiguienteTab');
			}
			if (tb === 'confirmacion-tab') {
				$('#btnSiguienteTab').text('Confirmar');
				$('#btnSiguienteTab').prop('id', 'btn-submit');
			}
		});


	</script>

	@* muestra el mensaje de creacion de Sorteo *@
	@if (TempData["ok"] != null)
	{
		<div id="alert-correcto" role="alert" aria-live="assertive" aria-atomic="true"
			 class="toast" data-autohide="true" data-delay="5000" style="position: absolute; top: 10px; right: 10px;z-index: 9999999">
			<div class="toast-header">
				<svg class=" rounded mr-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg"
					 preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
					<rect fill="#007aff" width="100%" height="100%" />
				</svg>
				<strong class="mr-auto">SuffleAway!</strong>
				<small>notificación</small>
			</div>
			<div class="toast-body">
				¡Sorteo creado correctamente!
			</div>
		</div>

		<script type="text/javascript">$('#alert-correcto').toast('show');</script>
	}

	@if (TempData["err"] != null)
	{
		<div id="alert-correcto" role="alert" aria-live="assertive" aria-atomic="true"
			 class="toast" data-autohide="true" data-delay="5000" style="position: absolute; top: 10px; right: 10px;z-index: 9999999">
			<div class="toast-header">
				<svg class=" rounded mr-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg"
					 preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
					<rect fill="#FF0000" width="100%" height="100%" />
				</svg>
				<strong class="mr-auto">SuffleAway!</strong>
				<small>notificación</small>
			</div>
			<div class="toast-body">
				:( Hubo un error al crear el sorteo.
			</div>
		</div>

		<script type="text/javascript">$('#alert-correcto').toast('show');</script>
	}
}

