@model ShuffleAway_.Models.MvcModel

@{
	ViewBag.Title = "InscripcionSorteo";
	Layout = "~/Views/Shared/_LayoutPlataforma.cshtml";

	var cantEntradas = Model.sorteo.lstEntradas.Count;
}

@section cssIndexPlataforma{

}

@section scriptFbInscripcion{

	<script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v5.0&appId=523305471851524&autoLogAppEvents=1"></script>
}
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v5.0&appId=523305471851524&autoLogAppEvents=1"></script>
<div class="content fondoInscripcion">
	<div class="container-fluid">

		<div id="logreg-forms">
			@using (Html.BeginForm("InscribirASorteo", "Plataforma", FormMethod.Post, new { @class = "form-signin" }))
			{
				<h1 class="h3 mb-4 font-weight-normal" style="text-align: center"> @Model.sorteo.nombreSorteo</h1>
				<hr />
				<p class="h-50 mb-5 font-weight-normal" style="text-align: justify; word-wrap:break-word;">
					@Model.sorteo.terminosCondiciones
				</p>
				<hr />
				<p class="h-50 mb-5 font-weight-normal" style="text-align: justify; word-wrap:break-word;">
					@Model.sorteo.descripcionPremio
				</p>
				<hr />
				<div class="social-login mb-4 flex-center" style="display: inline-flex;">
					<div class="fb-login-button" data-width="" data-size="medium" data-button-type="continue_with" data-auto-logout-link="true" data-use-continue-as="false"></div>

				</div>
				<hr />
				<p class="h5 mb-3 font-weight-normal" style="text-align:center"> Entradas: </p>
				foreach (var i in Model.sorteo.lstEntradas)
				{
					<div class="contenedor-links">
						<a href="http://@i.url" target="_blank" class="fadeLinks btnRedirigeEntrada" id="@i.idEntrada" data-activado="false">
							@i.tipoEntrada<i class="fas fa-chevron-right" style="float: right;"></i>
						</a>
					</div>

				}
				<hr />
				<div>
					<button type="submit" class="btn btn-sm rounded blue-gradient rounded-pill mb-4 flex-center btnInscribirse" style="color:white; width: 200px; left: 85px;">Inscribirse</button>
				</div>
				<hr />
				<a class="mb-2 fadeLinks" style="text-align:center" target="_blank" href="@Url.Action("Terminos", "Home")">Términos del servicio</a>


			}
		</div>
	</div>

</div>



@section scriptLoginFacebook{

	<script>
		var logueado = false;

		function statusChangeCallback(response) {  // Called with the results from FB.getLoginStatus().
			console.log('statusChangeCallback');
			console.log(response);                   // The current login status of the person.
			if (response.status === 'connected') {   // Logged into your webpage and Facebook.

				testAPI();
			} else {
				// Not logged into your webpage or we are unable to tell.
				//document.getElementById('status').innerHTML = 'Please log ' +
				//	'into this webpage.';
			}
		}


		function checkLoginState() {               // Called when a person is finished with the Login Button.
			FB.getLoginStatus(function (response) {   // See the onlogin handler
				statusChangeCallback(response);
			});
		}

		window.fbAsyncInit = function () {
			FB.init({
				appId: '523305471851524',
				cookie: true,                     // Enable cookies to allow the server to access the session.
				xfbml: true,                     // Parse social plugins on this webpage.
				version: 'v5.0'           // Use this Graph API version for this call.
			});


			FB.getLoginStatus(function (response) {   // Called after the JS SDK has been initialized.
				statusChangeCallback(response);        // Returns the login status.
			});
		};


		(function (d, s, id) {                      // Load the SDK asynchronously
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "https://connect.facebook.net/en_US/sdk.js";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));

		function testAPI() {                      // Testing Graph API after login.  See statusChangeCallback() for when this call is made.
			console.log('Welcome!  Fetching your information.... ');
			FB.api('/me', function (response) {
				console.log('Successful login for: ' + response.name);
				document.getElementById('status').innerHTML =
					'Thanks for logging in, ' + response.name + '!';
			});
		}

		//script para el tick verde

		$('.btnRedirigeEntrada').click(function () {
			var btn = $(this); // obtiene el btn
			btn.attr('data-activado', true);
			btn.children().remove(); // remueve el icono de la flecha al hacer click
			btn.append('<i class="fas fa-check" style="float: right; color: green"></i>'); // agrega el icono al hacer click

		})

		// para habilitar el boton


		function verificarLinks() {
			var activado;

			$('.contenedor-links a').each(function () {
				$.each(function () {
				});
			});

			//$('.contenedor-links a')
			//	.each(function () {
			//		console.log($('.btnRedirigeEntrada').attr('data-activado'))
			//		if ($('.btnRedirigeEntrada').attr('data-activado') == true) {
			//			activado = true;
			//		}
			//	});

			//return activado;
		}

				//function verificarLoginBtn() {
				//	console.log(logueado)
				//	if (logueado) {
				//		$('.btnInscribirse').prop('disabled', false);
				//	} else {
				//		$('.btnInscribirse').prop('disabled', true);
				//	}
				//}
				//verificarLoginBtn()



	</script>

}