@model ShuffleAway_.Models.MvcModel

@{
	var linkSorteosActivos = "javascript:void(0)";
	var linkCrearSorteo = "javascript:void(0)";

	if (Model.usuario != null)
	{
		if (Model.usuario.logueado)
		{
			linkSorteosActivos = Url.Action("SorteosActivos", "Plataforma");
			linkCrearSorteo = @Url.Action("CrearSorteo", "Plataforma");
		}

	}

	//
	string perfil = "";
	if (Model.usuario != null)
	{
		perfil = (!string.IsNullOrEmpty(Model.usuario.nombreUsuario)) ? Model.usuario.nombreUsuario : Model.usuario.email;
	}

}


<!DOCTYPE html>

<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - Mi aplicación ASP.NET</title>
	@Scripts.Render("~/bundles/modernizr")
	@Styles.Render("~/Content/bootstrapCore")
	<link href="~/Content/mdb.css" rel="stylesheet" />
	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
	<link href="https://fonts.googleapis.com/css?family=Varela+Round&display=swap" rel="stylesheet">


</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				@* Navegador FUll width *@
				<nav class="navbar navbar-expand-lg navbar-dark navbar-principal ">
					<a class="navbar-brand" href="@Url.Action("Index", "Home")"><img class="logoLayoutIndex" src="~/Recursos/img/logos/shuffleaway.png" alt="ShuffleAway!" /></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
							aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent-4">
						<ul class="navbar-nav">
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle fadeLinks" id="navbarDropdownMenuLink" data-toggle="dropdown"
								   aria-haspopup="true" aria-expanded="false">Sorteos</a>
								<div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
									@if (Model.usuario != null && Model.usuario.idTipoUsuario == 2)
									{
										<a id="btnCrearSorteo" class="dropdown-item fadeLinks" href="@linkCrearSorteo">Crear sorteo</a>
									}

									<a id="btnSorteosAct" class="dropdown-item fadeLinks" href="@linkSorteosActivos">Sorteos activos</a>
								</div>
							</li>
							<li class="nav-item">
								<a class="nav-link fadeLinks" href="#">
									Demostración
									<span class="sr-only">(current)</span>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link fadeLinks" href="@Url.Action("PlanPrecios", "Home")">
									Planes
									<span class="sr-only">(current)</span>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link fadeLinks" href="@Url.Action("Faq", "Home")">
									FAQ
									<span class="sr-only">(current)</span>
								</a>
							</li>
						</ul>
						<ul class="navbar-nav ml-auto">
							@if (Model.usuario != null && Model.usuario.logueado)
							{
								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle fadeLinks text-white" id="navbarDropdownMenuLink-4" data-toggle="dropdown"
									   aria-haspopup="true" aria-expanded="false" style="font-size: 18px;">
										@perfil
									</a>

									<div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
										<a class="dropdown-item" href="@Url.Action("SorteosActivos", "Plataforma")" style="font-size: 16px !important">Ir a plataforma</a>
										<a class="dropdown-item" href="@Url.Action("LogOut", "Usuario")" style="font-size: 16px !important">Cerrar sesión</a>
									</div>
								</li>
							}
							else
							{
								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle fadeLinks text-white" id="navbarDropdownMenuLink-4" data-toggle="dropdown"
									   aria-haspopup="true" aria-expanded="false" style="font-size: 18px; margin-top: 0px; left:-75px">
										Perfil
									</a>
									<div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
										<a class="dropdown-item" href="#" data-toggle="modal" data-target="#modalLogin">Iniciar sesión</a>
									</div>
								</li>
							}

						</ul>
					</div>
				</nav>
			</div>
		</div>
	</div>

	@* Modal *@

	<!--Modal: Login / Register Form-->
	<div class="modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="modalLogin" aria-hidden="true">
		<div class="modal-dialog cascading-modal login" role="document">
			<!--Content-->
			<div class="modal-content">

				<!--Modal cascading tabs-->
				<div class="modal-c-tabs">

					<!-- Nav tabs -->
					<ul class="nav nav-tabs tabs-2 stylish-color nav-justified" role="tablist">
						<li class="nav-item">
							<a class="tabLogin active" data-toggle="tab" href="#panel7" role="tab">
								Iniciar sesión
							</a>
						</li>
						<li class="nav-item">
							<a class="tabLogin" data-toggle="tab" href="#panel8" role="tab">
								Registro
							</a>
						</li>
					</ul>

					<!-- Tab panels -->
					<div class="tab-content">
						<!--Panel 7-->
						<div class="tab-pane fade in show active" id="panel7" role="tabpanel">
							@using (Html.BeginForm("Login", "Usuario", FormMethod.Post))
							{
								<!--Body-->
								<div class="modal-body mb-1">
									<div class="md-form form-sm mb-5">
										<i class="fas fa-envelope prefix"></i>
										@Html.TextBoxFor(u => u.usuario.email, new { @class = "form-control form-control-sm validate", @type = "email" })
										@*<input type="email" id="modalLRInput10" class="form-control form-control-sm validate">*@
										<label>Email</label>
									</div>

									<div class="md-form form-sm mb-4">
										<i class="fas fa-lock prefix"></i>
										@Html.TextBoxFor(u => u.usuario.pass, new { @class = "form-control form-control-sm validate", @type = "password" })
										@*<input type="password" id="modalLRInput11" class="form-control form-control-sm validate">*@
										<label>Contraseña</label>
									</div>
									<div class="text-center mt-2">
										<button type="submit" class="btn btn-success blue-gradient">Ingresar <i class="fas fa-sign-in ml-1"></i></button>
									</div>
								</div>
								<!--Footer-->
								<div class="modal-footer">
									<div class="options text-center text-md-right mt-1">
										<p>Olvidé mi <a href="#" class="blue-text">contraseña!</a></p>
									</div>
									<button type="button" class="btn blue-gradient waves-effect ml-auto btn-sm btnAnimate" data-dismiss="modal">Cerrar</button>
								</div>
							}
						</div>
						<!--/.Panel 7-->
						<!--Panel 8-->
						<div class="tab-pane fade" id="panel8" role="tabpanel">
							@using (Html.BeginForm("Registrar", "Usuario", FormMethod.Post))
							{
								<!--Body-->
								<div class="modal-body">
									<div class="md-form form-sm mb-5">
										<i class="fas fa-envelope prefix"></i>
										@Html.TextBoxFor(u => u.usuario.email, new { @class = "form-control form-control-sm validate", @type = "email" })
										@*<input type="email" id="modalLRInput12" class="form-control form-control-sm validate">*@
										<label data-error="verifique :(" data-success="correcto!" for="modalLRInput12">Email</label>
									</div>

									<div class="md-form form-sm mb-5">
										<i class="fas fa-lock prefix"></i>
										@Html.TextBoxFor(u => u.usuario.pass, new { @class = "form-control form-control-sm validate", @type = "password" })
										@*<input type="password" id="modalLRInput13" class="form-control form-control-sm validate">*@
										<label data-error="verifique :(" data-success="correcto!" for="modalLRInput13">Contraseña</label>
									</div>

									<div class="md-form form-sm mb-4">
										<i class="fas fa-lock prefix"></i>
										@Html.TextBoxFor(u => u.usuario.rePass, new { @class = "form-control form-control-sm validate", @type = "password" })
										@*<input type="password" id="modalLRInput14" class="form-control form-control-sm validate">*@
										<label data-error="wrong" data-success="right" for="modalLRInput14">Repetir contraseña</label>
									</div>

									<div class="md-form form-sm mb-4">
										@Html.DropDownListFor(u => u.usuario.idProvincia, new SelectList(Model.lstProvincias, "idProvincia", "nombreProvincia"), "Seleccionar provincia", new { @class = "browser-default custom-select" })
									</div>

									<div class="text-center form-sm mt-2">
										<button type="submit" class="btn btn-success blue-gradient btnAnimate">Registrarse <i class="fas fa-sign-in ml-1"></i></button>
									</div>

								</div>
							}

							<!--Footer-->
							<div class="modal-footer">
								<button type="button" class="btn blue-gradient waves-effect ml-auto btn-sm" data-dismiss="modal">Cerrar</button>
							</div>
						</div>
						<!--/.Panel 8-->
					</div>

				</div>
			</div>
			<!--/.Content-->
		</div>
	</div>
	<!--Modal: Login / Register Form-->
	@* Cierra Modal *@
	@* Termina Navegador *@
	<div class="container-fluid body-content">
		@RenderBody()
		<hr />
		<footer class="page-footer font-small stylish-color pt-4">

			<!-- Footer Links -->
			<div class="container text-center text-md-left">

				<!-- Grid row -->
				<div class="row">

					<!-- Grid column -->
					<div class="col-md-4 mx-auto">

						<!-- Content -->
						<h6 class="font-weight-bold text-uppercase mt-3 mb-4 light-blue-text">Contacto</h6>
						<p>
							Teléfono: 0810-111-1111
						</p>
						<p>
							Correo: consultas@shuffleaway.com
						</p>

					</div>
					<!-- Grid column -->

					<hr class="clearfix w-100 d-md-none">

					<!-- Grid column -->
					<div class="col-md-2 mx-auto">

						<!-- Links -->
						<h6 class="font-weight-bold text-uppercase mt-3 mb-4 light-blue-text">Sorteos...</h6>

						<ul class="list-unstyled">
							<li>
								<a class="fadeLinks" href="#!">Cómo funcionan los sorteos?</a>
							</li>
							<li>
								<a class="fadeLinks" href="@Url.Action("Index", "Plataforma")">Crea tu sorteo</a>
							</li>
							<li>
								<a class="fadeLinks" href="@Url.Action("Index", "Inscripcion")">Participa de un sorteo</a>
							</li>
						</ul>

					</div>
					<!-- Grid column -->

					<hr class="clearfix w-100 d-md-none">

					<!-- Grid column -->
					<div class="col-md-2 mx-auto">

						<!-- Links -->
						<h6 class="font-weight-bold text-uppercase mt-3 mb-4 light-blue-text">Acerca de...</h6>

						<ul class="list-unstyled">
							<li>
								<a class="fadeLinks" href="@Url.Action("About", "Home")">Que es ShuffleAway! ?</a>
							</li>
							<li>
								<a class="fadeLinks" href="@Url.Action("Faq", "Home")">FAQ</a>
							</li>
						</ul>

					</div>
					<!-- Grid column -->

					<hr class="clearfix w-100 d-md-none">

					<!-- Grid column -->
					<div class="col-md-2 mx-auto">

						<!-- Links -->
						<h6 class="font-weight-bold text-uppercase mt-3 mb-4 light-blue-text">Mas...</h6>

						<ul class="list-unstyled">
							<li>
								<a class="fadeLinks" href="@Url.Action("Privacidad", "Home")">Privacidad</a>
							</li>
							<li>
								<a class="fadeLinks" href="@Url.Action("Terminos", "Home")">Terminos del servicio</a>
							</li>
						</ul>

					</div>
					<!-- Grid column -->

				</div>
				<!-- Grid row -->

			</div>
			<!-- Footer Links -->

			<hr>

			<!-- Call to action -->
			<ul class="list-unstyled list-inline text-center py-2">
				<li class="list-inline-item">
					<h5 class="mb-1">Listo para hacer crecer tu sitio?</h5>
				</li>
				<li class="list-inline-item">
					<a href="@Url.Action("PlanPrecios", "Home")" class="btn rounded blue-gradient">Comenzar <i class="fas fa-sign-in ml-1"></i></a>
				</li>
			</ul>
			<!-- Call to action -->

			<hr>

			<!-- Social buttons -->
			<ul class="list-unstyled list-inline text-center">
				<li class="list-inline-item">
					<a class="btn-floating btn-fb mx-1">
						<i class="fab fa-facebook-f light-blue-text"> </i>
					</a>
				</li>
				<li class="list-inline-item">
					<a class="btn-floating btn-tw mx-1">
						<i class="fab fa-twitter light-blue-text"> </i>
					</a>
				</li>
				<li class="list-inline-item">
					<a class="btn-floating btn-ig mx-1">
						<i class="fab fa-instagram light-blue-text"> </i>
					</a>
				</li>
			</ul>

			<!-- Social buttons -->
		</footer>
		<!-- Termina contenido-->
	</div>


	@*@Scripts.Render("~/bundles/jquery")
		@Scripts.Render("~/bundles/bootstrap")
		@RenderSection("scripts", required: false)*@
	<!-- JQuery -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<!-- Bootstrap tooltips -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
	<!-- Bootstrap core JavaScript -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<!-- MDB core JavaScript -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.9/js/mdb.min.js"></script>

	<script type="text/javascript" src="~/Scripts/shuffleScript.js"></script>

	@if (TempData["error-login"] != null)
	{
		// se muestra el modal de login si la clave o usuario son incorrectos
		<script>
			$('#modalLogin').modal('show');
		</script>

		<div id="alert-correcto" role="alert" aria-live="assertive" aria-atomic="true"
			 class="toast" data-autohide="true" data-delay="5000" style="position: absolute; top: 10px; right: 10px;z-index: 9999999">
			<div class="toast-header">
				<svg class=" rounded mr-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg"
					 preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
					<rect fill="red" width="100%" height="100%" />
				</svg>
				<strong class="mr-auto">SuffleAway!</strong>
				<small>notificación</small>
			</div>
			<div class="toast-body">
				¡Verifique nombre de usuario o contraseña!
			</div>
		</div>

		<script type="text/javascript">$('#alert-correcto').toast('show');</script>
	}

	<div id="alert-error-sort-act" role="alert" aria-live="assertive" aria-atomic="true"
		 class="toast" data-autohide="true" data-delay="5000" style="position: fixed; top: 10px; right: 10px;z-index: 9999999">
		<div class="toast-header">
			<svg class=" rounded mr-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg"
				 preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
				<rect fill="red" width="100%" height="100%" />
			</svg>
			<strong class="mr-auto">SuffleAway!</strong>
			<small>notificación</small>
		</div>
		<div class="toast-body" id="msjErrorHomeSorteo">

		</div>
	</div>

	@RenderSection("scriptCheckoutUsr", false)
	@RenderSection("scriptPlanPrecio", false)
	@RenderSection("ss", false)

	<script>
		$('#btnSorteosAct').click(function () {
			if ($(this).attr('href') === 'javascript:void(0)') {
				$('#msjErrorHomeSorteo').html('¡Debe estar logueado para ver los sorteos activos!');
				$('#alert-error-sort-act').toast('show');
			}
		})

		$('#btnCrearSorteo').click(function () {
			if ($(this).attr('href') === 'javascript:void(0)') {
				$('#msjErrorHomeSorteo').html('¡Debe estar logueado para crear sorteo!');
				$('#alert-error-sort-act').toast('show');
			}
		})
	</script>

	<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
	</fb:login-button>

	<div id="status">
	</div>

</body>
</html>
