<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - Mi aplicación ASP.NET</title>
	@Scripts.Render("~/bundles/modernizr")
	@Styles.Render("~/Content/bootstrapCore")
	<link href="~/Content/mdb.css" rel="stylesheet" />
	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
	<link href="https://fonts.googleapis.com/css?family=Varela+Round&display=swap" rel="stylesheet">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				@* Navegador FUll width *@
				<nav class="navbar navbar-expand-lg navbar-dark navbar-principal ">
					<a class="navbar-brand" href="#"><img class="img-fluid" src="~/Recursos/img/logos/brand.png" alt="ShuffleAway!" /></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
							aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent-4">
						<ul class="navbar-nav">
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
								   aria-haspopup="true" aria-expanded="false">Sorteos</a>
								<div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
									<a class="dropdown-item" href="#">Cómo crear</a>
									<a class="dropdown-item" href="#">Cómo participar</a>
								</div>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">
									Demostración
									<span class="sr-only">(current)</span>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">
									Planes
									<span class="sr-only">(current)</span>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">
									FAQ
									<span class="sr-only">(current)</span>
								</a>
							</li>
						</ul>
						<ul class="navbar-nav ml-auto">
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown"
								   aria-haspopup="true" aria-expanded="false">
									<i class="fas fa-user"></i> Perfil
								</a>
								<div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
									<a class="dropdown-item" href="#" data-toggle="modal" data-target="#modalLogin">Iniciar sesión</a>
									<a class="dropdown-item" href="#">Cerrar sesión</a>
								</div>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</div>
	</div>

	@* Modal *@

	<!--Modal: Login / Register Form-->
	<div class="modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="modalLogin" aria-hidden="true">
		<div class="modal-dialog cascading-modal login" role="document">
			<!--Content-->
			<div class="modal-content">

				<!--Modal cascading tabs-->
				<div class="modal-c-tabs">

					<!-- Nav tabs -->
					<ul class="nav nav-tabs tabs-2 light-green lighten-5 nav-justified" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" data-toggle="tab" href="#panel7" role="tab">
								<i class="fas fa-user mr-1"></i>
								Iniciar sesión
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#panel8" role="tab">
								<i class="fas fa-user-plus mr-1"></i>
								Registro
							</a>
						</li>
					</ul>

					<!-- Tab panels -->
					<div class="tab-content">
						<!--Panel 7-->
						<div class="tab-pane fade in show active" id="panel7" role="tabpanel">

							<!--Body-->
							<div class="modal-body mb-1">
								<div class="md-form form-sm mb-5">
									<i class="fas fa-envelope prefix"></i>
									<input type="email" id="modalLRInput10" class="form-control form-control-sm validate">
									<label data-error="wrong" data-success="right" for="modalLRInput10">Email</label>
								</div>

								<div class="md-form form-sm mb-4">
									<i class="fas fa-lock prefix"></i>
									<input type="password" id="modalLRInput11" class="form-control form-control-sm validate">
									<label data-error="wrong" data-success="right" for="modalLRInput11">Contraseña</label>
								</div>
								<div class="text-center mt-2">
									<button class="btn btn-success blue-gradient">Ingresar <i class="fas fa-sign-in ml-1"></i></button>
								</div>
							</div>
							<!--Footer-->
							<div class="modal-footer">
								<div class="options text-center text-md-right mt-1">
									<p>Olvidé mi <a href="#" class="blue-text">contraseña!</a></p>
								</div>
								<button type="button" class="btn blue-gradient waves-effect ml-auto btn-sm" data-dismiss="modal">Cerrar</button>
							</div>

						</div>
						<!--/.Panel 7-->
						<!--Panel 8-->
						<div class="tab-pane fade" id="panel8" role="tabpanel">

							<!--Body-->
							<div class="modal-body">
								<div class="md-form form-sm mb-5">
									<i class="fas fa-envelope prefix"></i>
									<input type="email" id="modalLRInput12" class="form-control form-control-sm validate">
									<label data-error="wrong" data-success="right" for="modalLRInput12">Email</label>
								</div>

								<div class="md-form form-sm mb-5">
									<i class="fas fa-lock prefix"></i>
									<input type="password" id="modalLRInput13" class="form-control form-control-sm validate">
									<label data-error="wrong" data-success="right" for="modalLRInput13">Contraseña</label>
								</div>

								<div class="md-form form-sm mb-4">
									<i class="fas fa-lock prefix"></i>
									<input type="password" id="modalLRInput14" class="form-control form-control-sm validate">
									<label data-error="wrong" data-success="right" for="modalLRInput14">Repite contraseña</label>
								</div>

								<div class="text-center form-sm mt-2">
									<button class="btn btn-success blue-gradient">Registrarse <i class="fas fa-sign-in ml-1"></i></button>
								</div>

							</div>
							<!--Footer-->
							<div class="modal-footer">
								<button type="button" class="btn blue-gradient waves-effect ml-auto btn-sm" data-dismiss="modal">Cerrar</button>
							</div>
						</div>
						<!--/.Panel 8-->
					</div>

				</div>
			</div>
			<!--/.Content-->
		</div>
	</div>
	<!--Modal: Login / Register Form-->
	@* Cierra Modal *@
	@* Termina Navegador *@
	<div class="container-fluid body-content ">
		@RenderBody()
		<hr />
		<footer>
			<p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
		</footer>
	</div>

	@*@Scripts.Render("~/bundles/jquery")
		@Scripts.Render("~/bundles/bootstrap")
		@RenderSection("scripts", required: false)*@
	<!-- JQuery -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<!-- Bootstrap tooltips -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
	<!-- Bootstrap core JavaScript -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<!-- MDB core JavaScript -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.9/js/mdb.min.js"></script>
</body>
</html>
