<!DOCTYPE html>
<html class="full-height">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - Mi aplicación ASP.NET</title>
	@Scripts.Render("~/bundles/modernizr")
	@Styles.Render("~/Content/bootstrapCore")
	<link href="~/Content/mdb.css" rel="stylesheet" />
	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
</head>
<body>
	@* Navegador FUll width *@
	<nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
		<a class="navbar-brand" href="#"><strong>Navbar</strong></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse botones-nav" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Link</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Login</a>
				</li>
			</ul>
		</div>
	</nav>
	@* Termina Navegador *@
	<div class="container-fluid body-content view">
		@RenderBody()
		<hr />
		<footer>
			<p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
		</footer>
	</div>

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@RenderSection("scripts", required: false)
</body>
</html>
